<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Admin Page</h2>
  <p>This is the list of registered users</p>            
  <table class="table">
    <thead>
      <tr>
        <th>User Name</th>
        <th>Email ID</th>
        <th>Time of Registration</th>
      </tr>
    </thead>
    <tbody>
      {% for each in data %}
      <tr>
        <td>{{each.username}}</td>
        <td>{{each.email}}</td>
        <td>{{each.registerTime}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>




</body>
</html>
