{% extends "basicLayout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}

<div class="row">
      <div class="col-sm-4" ></div>
      <div class="col-sm-4" >
        {% if data%}
        <div class="alert alert-secondary">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{data}}
        </div>
        {% endif %}
      </div>
      <div class="col-sm-4" ></div>
</div>
<div class="row">
      <div class="col-sm-4" ></div>
      <div class="col-sm-4" ><h2>User Registration</h2></div>
      <div class="col-sm-4" ></div>
</div>
<div class="row">
      <div class="col-sm-3" ></div>
      <div class="col-sm-6" >
        <div class="container">
  
  <form action="{{ url_for('register') }}" method="POST">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email id" name="email" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
    </div>
    
    <button type="submit" name="button" value="register" class="btn btn-primary">REGISTER</button>
    <button type="submit" name="button" value="login" formaction="{{ url_for('auth') }}" class="btn btn-primary">LOGIN</button>

  </form>
</div>
      </div>
      <div class="col-sm-3" ></div>
</div>
{% endblock %}


