<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script>
      function func(elmnt) {
        document.getElementById("page").innerHTML = "loading page, please wait";
        const req = new XMLHttpRequest();
        const url ='api/book/'+elmnt.getAttribute("name");
        req.open('GET',url);
        // req.setRequestHeader("Content-Type", "text");
        req.onload = () => {

              // Extract JSON data from request
              const data = JSON.parse(req.responseText);
              document.getElementById("page").innerHTML = "<div class='card'> <div class='card-body'> <h3 class='card-title'>" + data.title + "</h3>" +
                 "<h5 class = 'card-text'> Author :"+ data.author+ " </h5><h5 class = 'card-text'>Year : "+data.year+"</h5><h5 class = 'card-text'>  ISBN : "+data.isbn+"</p>";
        }
        req.send();
      }
      document.addEventListener('DOMContentLoaded', () => {

      document.querySelector('#form').onsubmit = () => {

          // Initialize new request
          document.getElementById("result").innerHTML = "The search results are loading";
          const request = new XMLHttpRequest();
          const searchParam = document.querySelector('#search').value;
        //   alert(searchParam);
          request.open('POST', '/api/search/');
          request.setRequestHeader("Content-Type", "application/json");
          // Callback function for when request completes
          request.onload = () => {

              // Extract JSON data from request
              const data = JSON.parse(request.responseText);
            //alert(data.books)
            //   .innerHTML = data.books;
            document.querySelector('#result').innerHTML = ""
              data.books.forEach( function(book) {
                document.querySelector('#result').innerHTML += 
                "<div class='card'> <div class='card-body'> <h3 class='card-title'>" + book.title + "</h3>" +
                 "<p class = 'card-text'> ISBN : "+ book.isbn+ " | Author: "+ book.author+ "</p> <button name='"+book.isbn+"' onclick ='func(this)' class='card-link'>View Book</button></h5>";
            });
            
          }
          // Add data to send with request
          var data = JSON.stringify({ "query": searchParam});
          
          // Send request
          request.send(data);
          return false;
      };
      });
  </script>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Good Reads</a>
		  </div>
		  <form id="form" method="POST">
			<input class="form-control mr-sm-2" id="search" type="text" placeholder="Search">
			<button class="btn btn-success" type="submit" >Search</button>
		  </form>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
		  </ul>
    </nav>
    <br>

    <div class="container">
      <div class="row">
        <div class="col-sm-6" id="result">
          
        </div>
        <div class="col-sm-6" id="page">
          
        </div>
        
      </div>
    </div>
    <!-- <div id="result">

    </div>
    <div id="page">

    </div> -->
</body>
</html>
